{% extends 'base.html' %}

{% block content %}

<p style="font-size: 50px;">{{ game.player1 }} VS {{ game.player2 }}</p>

{% for slip in slip %}

    {% comment %} {% if request.user.username == slip.user.username %}
        <p>You selected "{{ slip.predict }}" for this game</p>  
    {% endif %} {% endcomment %}

{% endfor %}

<form method="post">

    {% csrf_token %}

    <div style="font-size: 30px;">
        {{ form.as_p }}
    </div>

    <input type="submit", value="submit">

</form>


{% endblock %}