{% extends 'base.html' %}

{% block content %}

    {% for message in messages %}
        <div style="color: green;">
            {{ message }}
        </div>
    {% endfor %}

    {% if request.user.is_authenticated %}

        <h2 style="text-decoration: underline;">Game Slip</h2>


        {% for slip in slip %}
            <hr>
            <div>
                <a href="{% url 'play:game-update-detail' slip.picked_game.id %}", style="text-decoration: none; color: black;">

                    <p style="font-size: 20px;">{{ slip.picked_game.player1 }} VS {{ slip.picked_game.player2 }}</p>
                    <p style="font-size: 18px;">Selected: {{ slip.predict }}</p>
                    <p style="font-size: 15px;">{{ slip.picked_game.name }}</p>

                </a>
                <br>

                <div>
                    <a href="{% url 'play:slip-game-remove' slip.id %}"><button> Remove </button></a>
                </div>
            </div>

            <hr>

        {% endfor %}



        <form method="post"> 
            {% csrf_token %} 

            <div>
                <input type="number", placeholder="NGN 0.00", name="staked_amount">
                <input type="submit", value="Stake", name="stake">
            </div>

        </form>


    {% endif %}

{% endblock %}